<main id="backdoor">
  <section class="overview">
    <h1 class="title">Backdoor 🚪</h1>

    <h3 class="subtitle">
      Playlist Nook: Where the Magic Happens Behind the Scenes
    </h3>
  </section>

  <section class="playlist-form__container">
    <h2 class="title">My Playlists</h2>

    <app-playlist-form> </app-playlist-form>

    <div class="underline"></div>

    <ul class="playlist-forms">
      <li>
        <app-playlist-edit-form></app-playlist-edit-form>
      </li>
      <li>
        <app-playlist-edit-form></app-playlist-edit-form>
      </li>
      <li>
        <app-playlist-edit-form></app-playlist-edit-form>
      </li>
      <li>
        <app-playlist-edit-form></app-playlist-edit-form>
      </li>
      <li>
        <app-playlist-edit-form></app-playlist-edit-form>
      </li>
      <li>
        <app-playlist-edit-form></app-playlist-edit-form>
      </li>
      <li>
        <app-playlist-edit-form></app-playlist-edit-form>
      </li>
      <li>
        <app-playlist-edit-form></app-playlist-edit-form>
      </li>
      <li>
        <app-playlist-edit-form></app-playlist-edit-form>
      </li>
      <li>
        <app-playlist-edit-form></app-playlist-edit-form>
      </li>
    </ul>
  </section>
</main>
