@import "./../shared/shared";

.main-header {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  @include between-centered();
  padding: toRem(20) toRem(16);

  @media (min-width: $lg) {
    padding: toRem(24) toRem(80);
  }
  @media (min-width: $two-xl) {
    padding: toRem(24) toRem(101);
  }

  .logo {
    cursor: pointer;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    @media screen and (min-width: $md) {
      font-size: toRem(28);
    }
    @media screen and (min-width: $two-xl) {
      font-size: toRem(32);
    }
    @include fade-hover(opacity, 300ms, 0.6);

    span {
      color: var(--main-blue);
    }
  }

  .toggle-btn {
    background-color: #0000;
    width: toRem(32);
    height: toRem(24);
    padding: toRem(5) 0;
    @include centered();
    justify-content: space-between;
    flex-direction: column;

    .toggle-line {
      transition: all 0.3s ease-out;
      background-color: var(--black-100);
      width: toRem(24);
      height: toRem(2);
    }

    &.opened {
      position: relative;
      justify-content: flex-start;

      .toggle-line.top {
        position: absolute;
        transform: rotateZ(45deg);
      }

      .toggle-line.bottom {
        position: absolute;
        transform: rotateZ(-45deg);
      }
    }

    @media (min-width: $lg) {
      display: none;
    }
  }
}

// Desktop Style
.desktop-nav {
  display: none;
  width: toRem(562);

  @media (min-width: $lg) {
    @include centered();
    position: absolute;
    left: 50%;
    margin-left: toRem(calc(-562 / 2));
    right: 0;
  }

  @media (min-width: $two-xl) {
    width: toRem(624);
    margin-left: toRem(calc(-624 / 2));
  }

  .nav-list {
    list-style: none;
    @include display-flex();
    gap: toRem(80 - 16);

    @media (min-width: $two-xl) {
      gap: toRem(144 - 16);
    }

    .nav-item {
      @include centered();
      flex-direction: column;
      cursor: pointer;
      padding: 0.5rem;
      font-size: toRem(20);
      font-weight: 700;
      line-height: toRem(29);
      color: var(--black-100);

      @media (min-width: $two-xl) {
        font-size: toRem(24);
      }

      a {
        cursor: pointer;
        font-size: toRem(20);
        font-weight: 700;
        line-height: toRem(29);
        color: var(--black-100);
      }

      .border {
        width: 0%;
        transition: width 0.2s ease-out;
        height: toRem(2);
        background-color: var(--black-100);
      }

      &.active,
      &:hover {
        .border {
          width: 100%;
        }
      }

      &:active {
        .border {
          width: 50%;
        }
      }
    }
  }
}

.cta {
  display: none;
  font-size: toRem(16);
  font-weight: 700;
  line-height: toRem(24);
  color: var(--black-100);
  padding: toRem(16) toRem(32);
  background: var(--main-blue);
  border-radius: toRem(8);

  @media screen and (min-width: $lg) {
    display: block;
  }
  @include fade-hover(opacity, 300ms, 0.7);
}

// mobile style
.mobile-nav {
  display: none;
  position: fixed;
  z-index: 4;
  min-width: toRem(280);
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: -100vw;
  background-color: var(--main-black);
  transition: all 0.3s ease-out;
  padding: toRem(69) 0 toRem(54);
  overflow: auto;

  .nav-list__container {
    @include column-between();
    width: 100%;
    height: 100%;
    gap: toRem(48);
    overflow-y: auto;

    .nav-list {
      @include column-flex();
      margin-top: 20%;
      width: 100%;
      list-style: none;
      gap: toRem(64 - 32);

      .nav-item {
        width: 100%;
        cursor: pointer;
        font-weight: 700;
        font-size: toRem(32);
        line-height: toRem(29);
        padding: toRem(16);
        color: var(--main-color);

        a {
          width: 100%;
          cursor: pointer;
          font-weight: 700;
          font-size: toRem(32);
          line-height: toRem(29);
          color: var(--main-color);
        }

        &.active {
          color: var(--main-blue);
        }

        @media (hover: hover) {
          &:hover {
            color: var(--blue-30);
          }
        }
      }
    }

    footer {
      width: 100%;
      padding: 0 toRem(16);
      @include centered();
      gap: toRem(40);

      .socials-container {
        width: 100%;
        max-width: toRem(280);
        @include between();
      }

      .img-cover {
        flex-shrink: 0;
        background-color: var(--main-black);
        width: toRem(40);
        height: toRem(40);

        img {
          background-color: var(--main-black);
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
