<header class="main-header">
  <div class="logo" routerLink=".">
    <svg
      width="79"
      height="56"
      viewBox="0 0 79 56"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M37.5086 56V44.4216H47.8111C50.3867 44.4216 52.7098 44.0432 54.7804 43.2865C56.851 42.4793 58.6186 41.3694 60.0832 39.9568C61.5477 38.4937 62.6588 36.7532 63.4163 34.7351C64.1739 32.6667 64.5526 30.3964 64.5526 27.9243C64.5526 25.3514 64.1739 23.0559 63.4163 21.0378C62.6588 19.0198 61.5477 17.3045 60.0832 15.8919C58.6186 14.4793 56.851 13.4198 54.7804 12.7135C52.7098 11.9568 50.3867 11.5784 47.8111 11.5784H37.5086V0H47.1293C52.129 0 56.4975 0.731533 60.2347 2.1946C63.9719 3.65766 67.103 5.65045 69.6281 8.17297C72.1532 10.6955 74.0218 13.5964 75.2339 16.8757C76.4964 20.1045 77.1277 23.5099 77.1277 27.0919V28.7568C77.1277 32.0865 76.4964 35.391 75.2339 38.6703C74.0218 41.8991 72.1532 44.8252 69.6281 47.4486C67.103 50.0216 63.9719 52.0901 60.2347 53.6541C56.4975 55.218 52.129 56 47.1293 56H37.5086ZM26.6001 56V0H39.0237V56H26.6001Z"
        fill="#3341FF"
      />
      <path
        d="M0.970947 55.6972L19.8336 26.2593L19.9851 27.5458L2.56177 0.453918H16.1974L26.9544 17.708H28.6967L39.3022 0.453918H52.5591L35.06 27.6972L34.8328 26.4864L54.3014 55.6972H40.59L28.015 36.1728H26.1969L14.2278 55.6972H0.970947Z"
        fill="white"
      />
    </svg>
  </div>

  <div class="desktop-nav">
    <ul class="nav-list">
      <li class="nav-item" routerLink="/case-study" routerLinkActive="active">
        Casestudies
        <div class="border"></div>
      </li>
      <li class="nav-item" routerLink="/about" routerLinkActive="active">
        About
        <div class="border"></div>
      </li>
      <li class="nav-item">
        <a
          href="./../../assets/file/resume.pdf"
          target="_blank"
          aria-label="Chime's Resume"
        >
          Resume
        </a>
        <div class="border"></div>
      </li>
      <li class="nav-item" routerLink="/playlist" routerLinkActive="active">
        My Playlists :)
        <div class="border"></div>
      </li>
    </ul>
  </div>

  <button
    appClick
    class="cta"
    aria-label="Contact Me Button"
    (click)="sharedService.navigate('/more')"
  >
    Contact Me
  </button>

  <button
    class="toggle-btn"
    aria-label="toggle button"
    #toggleBtn
    (click)="toggleNav()"
  >
    <div class="toggle-line top"></div>
    <div class="toggle-line bottom"></div>
  </button>
</header>

<!-- Mobile Navigation -->
<nav class="mobile-nav" #nav>
  <div class="nav-list__container">
    <ul class="nav-list">
      <li class="nav-item" routerLink="/case-study" routerLinkActive="active">
        Casestudies
      </li>
      <li class="nav-item" routerLink="/about" routerLinkActive="active">
        About
      </li>
      <li class="nav-item">
        <a
          href="./../../assets/file/resume.pdf"
          target="_blank"
          aria-label="Chime's Resume"
          >Resume</a
        >
      </li>
      <li class="nav-item" routerLink="/playlist" routerLinkActive="active">
        My Playlists :)
      </li>
      <li
        class="nav-item"
        aria-label="Contact Me Button"
        routerLink="/more"
        routerLinkActive="active"
      >
        Contact
      </li>
    </ul>

    <footer>
      <div class="socials-container">
        <a
          href="https://www.behance.net/chimexd"
          target="_blank"
          title="ChimeXD's Behance Profile Link"
          class="img-cover"
        >
          <img
            width="40"
            height="40"
            src="./../../assets/icons/behance.png"
            alt
            loading="lazy"
          />
        </a>
        <a
          href="https://twitter.com/__sinofgluttony"
          target="_blank"
          title="ChimeXD's Twitter Profile Link"
          class="img-cover"
        >
          <img
            width="40"
            height="40"
            src="./../../assets/icons/twitter.png"
            alt
            loading="lazy"
          />
        </a>
        <a
          href="https://chimexd.medium.com/"
          target="_blank"
          title="ChimeXD's Medium Profile Link"
          class="img-cover"
        >
          <img
            width="40"
            height="40"
            src="./../../assets/icons/medium.png"
            alt
            loading="lazy"
          />
        </a>
        <a
          href="https://www.linkedin.com/in/ekpendu-chimezie-920035230/"
          target="_blank"
          title="ChimeXD's LinkedIn Profile Link"
          class="img-cover"
        >
          <img
            width="40"
            height="40"
            src="./../../assets/icons/linkedIn.png"
            alt
            loading="lazy"
          />
        </a>
      </div>
    </footer>
  </div>
</nav>
