<header class="main-header">
  <div class="logo" routerLink=".">Chime<span>XD</span></div>

  <div class="desktop-nav">
    <ul class="nav-list">
      <li class="nav-item" routerLink="/case-study" routerLinkActive="active">
        Casestudies
        <div class="border"></div>
      </li>
      <li class="nav-item" routerLink="/about" routerLinkActive="active">
        About
        <div class="border"></div>
      </li>
      <li class="nav-item">
        Resume
        <div class="border"></div>
      </li>
    </ul>
  </div>

  <a
    appClick
    href="mailto:Ekpenduchimezie1@gmail.com"
    class="cta"
    aria-label="Contact Me Button"
    >Contact Me</a
  >

  <button
    class="toggle-btn"
    aria-label="toggle button"
    #toggleBtn
    (click)="toggleNav()"
  >
    <div class="toggle-line top"></div>
    <div class="toggle-line bottom"></div>
  </button>
</header>

<nav class="mobile-nav" #nav>
  <div class="nav-list__container">
    <ul class="nav-list">
      <li class="nav-item" routerLink="/case-study" routerLinkActive="active">
        Casestudies
      </li>
      <li class="nav-item" routerLink="/about" routerLinkActive="active">
        About
      </li>
      <a
        href="./../../assets/file/resume.pdf"
        target="_blank"
        aria-label="Chime's Resume"
        class="nav-item"
        >Resume</a
      >
      <a href="mailto:Ekpenduchimezie1@gmail.com" class="nav-item">Contact</a>
    </ul>

    <footer>
      <div class="socials-container">
        <a
          href="https://www.behance.net/chimexd"
          target="_blank"
          aria-label="Chime's Behance Profile Link"
          class="img-cover"
        >
          <img
            width="40"
            height="40"
            src="./../../assets/icons/behance.png"
            alt
            loading="lazy"
          />
        </a>
        <a
          href="https://twitter.com/__sinofgluttony"
          target="_blank"
          aria-label="Chime's Twitter Profile Link"
          class="img-cover"
        >
          <img
            width="40"
            height="40"
            src="./../../assets/icons/twitter.png"
            alt
            loading="lazy"
          />
        </a>
        <a
          href="https://chimexd.medium.com/"
          target="_blank"
          aria-label="Chime's Medium Profile Link"
          class="img-cover"
        >
          <img
            width="40"
            height="40"
            src="./../../assets/icons/medium.png"
            alt
            loading="lazy"
          />
        </a>
        <a
          href="https://www.linkedin.com/in/ekpendu-chimezie-920035230/"
          target="_blank"
          aria-label="Chime's LinkedIn Profile Link"
          class="img-cover"
        >
          <img
            width="40"
            height="40"
            src="./../../assets/icons/linkedIn.png"
            alt
            loading="lazy"
          />
        </a>
      </div>
    </footer>
  </div>
</nav>
