<header class="main-header">
  <div class="logo" routerLink=".">Chime<span>XD</span></div>

  <div class="desktop-nav">
    <ul class="nav-list">
      <li class="nav-item" routerLink="/case-study" routerLinkActive="active">
        Casestudies
        <div class="border"></div>
      </li>
      <li class="nav-item" routerLink="/about" routerLinkActive="active">
        About
        <div class="border"></div>
      </li>
      <li class="nav-item">
        <a
          href="./../../assets/file/resume.pdf"
          target="_blank"
          aria-label="Chime's Resume"
        >
          Resume
        </a>
        <div class="border"></div>
      </li>
      <li class="nav-item" routerLink="/playlist" routerLinkActive="active">
        My Playlists :)
        <div class="border"></div>
      </li>
    </ul>
  </div>

  <button
    appClick
    class="cta"
    aria-label="Contact Me Button"
    (click)="sharedService.navigate('/more')"
  >
    Contact Me
  </button>

  <button
    class="toggle-btn"
    aria-label="toggle button"
    #toggleBtn
    (click)="toggleNav()"
  >
    <div class="toggle-line top"></div>
    <div class="toggle-line bottom"></div>
  </button>
</header>

<!-- Mobile Navigation -->
<nav class="mobile-nav" #nav>
  <div class="nav-list__container">
    <ul class="nav-list">
      <li class="nav-item" routerLink="/case-study" routerLinkActive="active">
        Casestudies
      </li>
      <li class="nav-item" routerLink="/about" routerLinkActive="active">
        About
      </li>
      <li class="nav-item">
        <a
          href="./../../assets/file/resume.pdf"
          target="_blank"
          aria-label="Chime's Resume"
          >Resume</a
        >
      </li>
      <li class="nav-item" routerLink="/playlist" routerLinkActive="active">
        My Playlists :)
      </li>
      <li
        class="nav-item"
        aria-label="Contact Me Button"
        routerLink="/more"
        routerLinkActive="active"
      >
        Contact
      </li>
    </ul>

    <footer>
      <div class="socials-container">
        <a
          href="https://www.behance.net/chimexd"
          target="_blank"
          title="ChimeXD's Behance Profile Link"
          class="img-cover"
        >
          <img
            width="40"
            height="40"
            src="./../../assets/icons/behance.png"
            alt
            loading="lazy"
          />
        </a>
        <a
          href="https://twitter.com/__sinofgluttony"
          target="_blank"
          title="ChimeXD's Twitter Profile Link"
          class="img-cover"
        >
          <img
            width="40"
            height="40"
            src="./../../assets/icons/twitter.png"
            alt
            loading="lazy"
          />
        </a>
        <a
          href="https://chimexd.medium.com/"
          target="_blank"
          title="ChimeXD's Medium Profile Link"
          class="img-cover"
        >
          <img
            width="40"
            height="40"
            src="./../../assets/icons/medium.png"
            alt
            loading="lazy"
          />
        </a>
        <a
          href="https://www.linkedin.com/in/ekpendu-chimezie-920035230/"
          target="_blank"
          title="ChimeXD's LinkedIn Profile Link"
          class="img-cover"
        >
          <img
            width="40"
            height="40"
            src="./../../assets/icons/linkedIn.png"
            alt
            loading="lazy"
          />
        </a>
      </div>
    </footer>
  </div>
</nav>
