<div class="underline"></div>

<div class="container">
  <div class="title">Get in Touch</div>
  <div class="sub-title">Let’s Work Together</div>

  <p>
    Please get in touch with me if you have an idea for a website or mobile app
    or if you need some advice on product design.
  </p>

  <a href="mailto:Ekpenduchimezie1@gmail.com" appClick class="cta"
    >Contact Me</a
  >

  <footer>
    <a
      href="https://www.behance.net/chimexd"
      target="_blank"
      aria-label="Chime's Behance Profile Link"
      class="img-cover"
    >
      <img
        width="40"
        height="40"
        src="./../../assets/icons/behance.png"
        alt
        loading="lazy"
      />
    </a>
    <a
      href="https://twitter.com/__sinofgluttony"
      target="_blank"
      aria-label="Chime's Twitter Profile Link"
      class="img-cover"
    >
      <img
        width="40"
        height="40"
        src="./../../assets/icons/twitter.png"
        alt
        loading="lazy"
      />
    </a>
    <a
      href="https://chimexd.medium.com/"
      target="_blank"
      aria-label="Chime's Medium Profile Link"
      class="img-cover"
    >
      <img
        width="40"
        height="40"
        src="./../../assets/icons/medium.png"
        alt
        loading="lazy"
      />
    </a>
    <a
      href="https://www.linkedin.com/in/ekpendu-chimezie-920035230/"
      target="_blank"
      aria-label="Chime's LinkedIn Profile Link"
      class="img-cover"
    >
      <img
        width="40"
        height="40"
        src="./../../assets/icons/linkedIn.png"
        alt
        loading="lazy"
      />
    </a>
  </footer>

  <div class="copy-right">
    © 2022 All rights reserved. – Designed by Ekpendu Chimezie
  </div>
</div>
