<div class="underline"></div>

<div class="container">
  <div
    class="title"
    aray-animate="fadeIn"
    aray-delay="450ms"
    aray-duration="700ms"
    aray-offsetX="-20%"
  >
    Get in Touch
  </div>
  <div
    class="sub-title"
    aray-animate="fadeIn"
    aray-delay="450ms"
    aray-duration="500ms"
    aray-offsetX="10%"
  >
    Let’s <span class="special">Work Together</span>
  </div>

  <p
    aray-animate="fadeIn"
    aray-delay="450ms"
    aray-duration="500ms"
    aray-offsetX="-5%"
  >
    Please get in touch with me if you have an idea for a website or mobile app
    or if you need some advice on product design.
  </p>

  <a
    appClick
    aray-animate="fadeIn"
    aray-delay="450ms"
    aray-duration="400ms"
    aray-offsetY="25%"
    href="mailto:Ekpenduchimezie1@gmail.com"
    class="cta"
    >Contact Me</a
  >

  <footer
    aray-animate="fadeIn"
    aray-delay="450ms"
    aray-duration="400ms"
    aray-offsetY="-25%"
  >
    <a
      href="https://www.behance.net/chimexd"
      target="_blank"
      title="ChimeXD's Behance Profile Link"
      class="img-cover"
    >
      <img
        width="40"
        height="40"
        src="./../../assets/icons/behance.png"
        alt
        loading="lazy"
      />
    </a>
    <a
      href="https://twitter.com/__sinofgluttony"
      target="_blank"
      title="ChimeXD's Twitter Profile Link"
      class="img-cover"
    >
      <img
        width="40"
        height="40"
        src="./../../assets/icons/twitter.png"
        alt
        loading="lazy"
      />
    </a>
    <a
      href="https://chimexd.medium.com/"
      target="_blank"
      title="ChimeXD's Medium Profile Link"
      class="img-cover"
    >
      <img
        width="40"
        height="40"
        src="./../../assets/icons/medium.png"
        alt
        loading="lazy"
      />
    </a>
    <a
      href="https://www.linkedin.com/in/ekpendu-chimezie-920035230/"
      target="_blank"
      title="ChimeXD's LinkedIn Profile Link"
      class="img-cover"
    >
      <img
        width="40"
        height="40"
        src="./../../assets/icons/linkedIn.png"
        alt
        loading="lazy"
      />
    </a>
  </footer>

  <div class="copy-right">
    © 2022 All rights reserved. – Designed by Ekpendu Chimezie
  </div>
</div>
