<form [formGroup]="form">
  <h2 class="title">{{ index + 1 }}.</h2>

  <div class="control">
    <label for="name">Playlist Name</label>
    <input
      type="text"
      id="name"
      name="name"
      formControlName="playlistName"
      placeholder="Various Artists, Afro-Alternative."
    />
    <app-validation-message
      *ngIf="playlistName?.invalid && playlistName?.touched"
    >
      Please fill out this field.
    </app-validation-message>
  </div>

  <div class="control">
    <label for="artist">Artist/ Genre</label>
    <input
      type="text"
      id="artist"
      name="artist"
      formControlName="artist_genre"
      placeholder="Various Artists, Afro-Alternative."
    />
    <app-validation-message
      *ngIf="artist_genre?.invalid && artist_genre?.touched"
    >
      Please fill out this field.
    </app-validation-message>
  </div>

  <div class="control">
    <label for="spotify">Spotify Link</label>
    <input
      type="text"
      id="spotify"
      name="spotify"
      formControlName="spotifyLink"
      placeholder="https://open.spotify.com/playlist/0Dojr51ByIdwOINWZsloT4?si=5a7f56b7c84a4b63"
    />
    <app-validation-message
      *ngIf="spotifyLink?.invalid && spotifyLink?.touched"
    >
      Please fill out this field.
    </app-validation-message>
  </div>

  <div class="control">
    <label for="apple">Apple Music Link</label>
    <input
      type="text"
      id="apple"
      name="apple"
      formControlName="appleMusicLink"
      placeholder="https://open.spotify.com/playlist/0Dojr51ByIdwOINWZsloT4?si=5a7f56b7c84a4b63"
    />
    <app-validation-message
      *ngIf="appleMusicLink?.invalid && appleMusicLink?.touched"
    >
      Please fill out this field.
    </app-validation-message>
  </div>
</form>
