@import "./../shared/shared";

#about {
  width: 100%;
  padding: toRem(69) 0 0;

  @media screen and (min-width: $lg) {
    padding: toRem(104) 0 0;
  }
  @media screen and (min-width: $two-xl) {
    padding: toRem(104) 0 0;
  }
}

.overview {
  width: 100%;
  @include column-centered();
  gap: toRem(32);
  padding: toRem(32) toRem(16) 0;
  margin-bottom: toRem(64);

  @media screen and (min-width: $lg) {
    padding: toRem(64) toRem(80) 0;
    margin-bottom: toRem(88);
  }
  @media screen and (min-width: $two-xl) {
    padding: toRem(70) toRem(100) 0;
    margin-bottom: toRem(128);
  }

  .title {
    font-size: toRem(14);
    font-weight: 400;
    line-height: toRem(21);
    color: var(--black-70);
    text-align: center;

    @media screen and (min-width: $lg) {
      font-size: toRem(20);
      line-height: toRem(30);
    }
    @media screen and (min-width: $two-xl) {
      font-size: toRem(24);
      line-height: toRem(36);
    }
  }

  .sub-title {
    font-size: toRem(32);
    font-weight: 600;
    line-height: toRem(42);
    color: var(--black-60);
    text-align: center;

    .special {
      color: var(--black-100);
    }

    @media screen and (min-width: $lg) {
      font-size: toRem(56);
      line-height: toRem(72);
    }
    @media screen and (min-width: $two-xl) {
      font-size: toRem(72);
      line-height: toRem(104);
    }
  }
}

.about {
  width: 100%;
  @include column-flex();
  padding: 0 toRem(16);

  @media screen and (min-width: $lg) {
    padding: 0 toRem(80);
  }
  @media screen and (min-width: $two-xl) {
    padding: 0 toRem(100);
  }

  p {
    font-size: toRem(18);
    font-weight: 400;
    line-height: toRem(21);
    margin-bottom: toRem(21);

    @media screen and (min-width: $md) {
      font-size: toRem(24);
      line-height: toRem(32);
      margin-bottom: toRem(32);
    }
    @media screen and (min-width: $two-xl) {
      font-size: toRem(40);
      line-height: toRem(56);
      margin-bottom: toRem(64);
    }

    a {
      color: var(--main-blue);
      line-height: 1.5em;
      border-bottom: toRem(2) solid var(--main-blue);

      @media (hover: hover) {
        @include transition(opacity, 100ms);

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

.cta {
  font-size: toRem(16);
  font-weight: bold;
  line-height: 1.5;
  color: var(--black-100);
  padding: toRem(12) toRem(24);
  border-radius: toRem(8);
  align-self: flex-start;
  background-color: var(--main-blue);
  margin: toRem(8) 0 toRem(32);
  @include fade-hover(opacity, 300ms, 0.7);

  @media screen and (min-width: $md) {
    margin: 0 0 toRem(80);
    padding: toRem(16) toRem(32);
    width: auto;
  }
  @media screen and (min-width: $two-xl) {
    padding: toRem(16) toRem(48);
  }
}
