@import "./../shared/shared";

#about {
  width: 100%;
  padding: toRem(69) 0 0;

  @media screen and (min-width: $lg) {
    padding: toRem(104) 0 0;
  }
  @media screen and (min-width: $two-xl) {
    padding: toRem(104) 0 0;
  }
}

.overview {
  width: 100%;
  @include column-centered();
  gap: toRem(32);
  padding: toRem(32) toRem(16) 0;
  margin-bottom: toRem(64);

  @media screen and (min-width: $lg) {
    gap: toRem(40);
    padding: toRem(64) toRem(80) 0;
    margin-bottom: toRem(88);
  }
  @media screen and (min-width: $two-xl) {
    gap: toRem(64);
    padding: toRem(70) toRem(100) 0;
    margin-bottom: toRem(128);
  }

  .content {
    width: 100%;
    @include column-centered();
    gap: toRem(20);

    @media screen and (min-width: $two-xl) {
      gap: toRem(28);
    }
  }

  .title {
    font-size: toRem(14);
    font-weight: 500;
    line-height: 1.71;
    color: var(--black-90);
    text-align: center;

    @media screen and (min-width: $md) {
      font-size: toRem(20);
      line-height: 1.2;
    }
    @media screen and (min-width: $two-xl) {
      font-size: toRem(24);
      line-height: 1;
    }
  }

  .sub-title {
    font-size: toRem(32);
    font-weight: bold;
    line-height: 1.5;
    color: var(--black-100);
    text-align: center;
    max-width: toRem(285);

    @media screen and (min-width: $lg) {
      max-width: none;
      width: toRem(636);
      font-size: toRem(68);
      line-height: 1.47;
    }
    @media screen and (min-width: $two-xl) {
      width: toRem(774);
      font-size: toRem(84);
      line-height: 1.19;
    }
  }
}

.about {
  width: 100%;
  @include column-flex();
  padding: 0 toRem(16);

  @media screen and (min-width: $lg) {
    padding: 0 toRem(80);
  }
  @media screen and (min-width: $two-xl) {
    padding: 0 toRem(100);
  }

  p {
    font-size: toRem(18);
    line-height: 1.5;
    margin-bottom: toRem(24);

    @media screen and (min-width: $md) {
      font-size: toRem(28);
      margin-bottom: toRem(48);
    }
    @media screen and (min-width: $two-xl) {
      font-size: toRem(40);
      margin-bottom: toRem(64);
    }

    a {
      color: var(--main-blue);
      line-height: 1.5em;
      border-bottom: 2px solid var(--main-blue);

      @media (hover: hover) {
        @include transition(opacity, 100ms);

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

.cta {
  font-size: toRem(16);
  font-weight: bold;
  line-height: 1.5;
  color: var(--black-100);
  padding: toRem(12) toRem(24);
  border-radius: toRem(8);
  align-self: flex-start;
  background-color: var(--main-blue);
  margin: toRem(8) 0 toRem(32);
  @include fade-hover(opacity, 300ms, 0.7);

  @media screen and (min-width: $md) {
    margin: 0 0 toRem(80);
    padding: toRem(16) toRem(32);
    width: auto;
  }
  @media screen and (min-width: $two-xl) {
    padding: toRem(16) toRem(48);
  }
}
