<main id="about">
  <section class="overview">
    <h3
      class="title"
      aray-animate="fadeIn"
      aray-delay="400ms"
      aray-duration="400ms"
      aray-offsetY="-20%"
    >
      Nice to meet you
    </h3>
    <h1
      class="sub-title"
      aray-animate="fadeIn"
      aray-delay="400ms"
      aray-duration="500ms"
      aray-offsetY="30%"
    >
      Hello, I’m Ekpendu Chimezie 👋😅
    </h1>
  </section>

  <section class="about">
    <p
      aray-animate="fadeIn"
      aray-delay="300ms"
      aray-duration="650ms"
      aray-offsetY="20%"
    >
      Hi, my name is Ekpendu Chimezie; I am mostly called ChimeXD in the web3
      space I am a product designer. In my final years of college, I developed a
      passion for design. I was intrigued by how people behave, think, and feel,
      and how products could give them more life experience. I obtained a B.Sc.
      in Computer Science from Redeemer's University and finished the 6-month
      Google UX certification program (check my certificate
      <a
        title="ChimeXD's Certificate Link"
        href="https://www.coursera.org/account/accomplishments/specialization/certificate/F7LRG55WKH6L"
        target="_blank"
        >here</a
      >)
    </p>

    <p
      aray-animate="fadeIn"
      aray-delay="400ms"
      aray-duration="700ms"
      aray-offsetY="30%"
    >
      I currently work for
      <a
        href="https://bulan.io/"
        title="Link to Bulan's Website"
        target="_blank"
        >Bulan</a
      >
      as the Product Design Lead. I lead design strategy for the amazing team,
      and together, we want to dominate the web 3.
    </p>

    <p
      aray-animate="fadeIn"
      aray-delay="450ms"
      aray-duration="700ms"
      aray-offsetY="40%"
    >
      Outside of design, I'm a major football fan and a massive lover of art.
    </p>

    <p
      aray-animate="fadeIn"
      aray-delay="450ms"
      aray-duration="700ms"
      aray-offsetY="50%"
    >
      I'm always down to collaborate when I have the time. Reach out and let's
      chat!
    </p>

    <a
      appClick
      aray-animate="fadeIn"
      aray-delay="450ms"
      aray-duration="700ms"
      aray-offsetX="-10%"
      class="start-project"
      href="https://j3en9uepgkn.typeform.com/to/Oy68WS29"
      target="_blank"
      class="cta start-project__btn"
      >Start a Project</a
    >

    <app-response
      aray-animate="fadeIn"
      aray-delay="450ms"
      aray-duration="700ms"
      aray-offsetX="5%"
    ></app-response>
  </section>

  <app-footer></app-footer>
</main>
