<main id="about">
  <section class="overview">
    <h3
      class="title"
      aray-animate="fadeIn"
      aray-delay="400ms"
      aray-duration="400ms"
      aray-offsetY="-20%"
    >
      Nice to meet you
    </h3>
    <h1
      class="sub-title"
      aray-animate="fadeIn"
      aray-delay="400ms"
      aray-duration="500ms"
      aray-offsetY="30%"
    >
      Hello, I’m Ekpendu <br />
      <span class="special">Chimezie 👋😅</span>
    </h1>
  </section>

  <section class="about">
    <p
      aray-animate="fadeIn"
      aray-delay="300ms"
      aray-duration="650ms"
      aray-offsetY="20%"
    >
      Hi, my name is Ekpendu Chimezie A.K.A ChimeXD, I’m seasoned Product
      Designer with over 4 years of experience. I hold a B.Sc in Computer
      Science from Redeemer's University and have honed my craft through
      impactful roles at
      <a
        href="https://www.deel.com"
        title="Link to Deel's Website"
        target="_blank"
      >
        Deel </a
      >,
      <a
        href="https://foundation.app"
        title="Link to Foundation's Website"
        target="_blank"
      >
        Foundation </a
      >, and currently,
      <a
        href=" https://www.chedda.finance"
        title="Link to Chedda's Website"
        target="_blank"
      >
        Chedda </a
      >where I contribute as a senior product designer.
    </p>

    <p
      aray-animate="fadeIn"
      aray-delay="400ms"
      aray-duration="700ms"
      aray-offsetY="30%"
    >
      My expertise lies in user experience design, design thinking, wire
      framing, prototyping, and visual design. I'm excited to share that I've
      earned the
      <a
        href="https://www.coursera.org/account/accomplishments/specialization/certificate/F7LRG55WKH6L"
        title="Link to Google's UX Certification Website"
        target="_blank"
      >
        Google UX Certification </a
      >, a little digital badge that says, 'Hey, I know a thing or two about
      creating awesome user experiences!🙈'
    </p>

    <p
      aray-animate="fadeIn"
      aray-delay="450ms"
      aray-duration="700ms"
      aray-offsetY="40%"
    >
      I discovered my passion for design by exploring the relationship between
      human behaviour, thoughts, emotions, and the transformative power of
      products in enhancing life experiences.
    </p>

    <p
      aray-animate="fadeIn"
      aray-delay="450ms"
      aray-duration="700ms"
      aray-offsetY="40%"
    >
      When I'm not crafting exceptional user experiences, you'll find me
      bantering football on X, degen-ing meme coins or lost in the rhythms of
      music (Check out my
      <a
        href="https://bulan.io/"
        title="Link to playlists' Website"
        target="_blank"
      >
        playlists
      </a>
      😉)
    </p>

    <p
      aray-animate="fadeIn"
      aray-delay="450ms"
      aray-duration="700ms"
      aray-offsetY="50%"
    >
      What distinguishes me as a product designer is my knack for effective
      collaboration with cross-functional teams. Whether working alongside
      developers, marketers, or product managers, I thrive in agile environments
      and effortlessly adapt to evolving project requirements.
    </p>

    <a
      appClick
      aray-animate="fadeIn"
      aray-delay="450ms"
      aray-duration="700ms"
      aray-offsetX="-10%"
      class="start-project"
      href="mailto:Ekpenduchimezie1@gmail.com"
      target="_blank"
      class="cta start-project__btn"
      >Book a Call</a
    >

    <app-response
      aray-animate="fadeIn"
      aray-delay="450ms"
      aray-duration="700ms"
      aray-offsetX="5%"
    ></app-response>
  </section>

  <app-footer></app-footer>
</main>
