@import "./../shared/shared";

:host {
  width: 100%;
}

.case-study__list {
  @include column-flex();
  width: 100%;
  list-style: none;
  gap: toRem(94);

  @media screen and (min-width: $md) {
    gap: toRem(80);
  }
  @media screen and (min-width: $two-xl) {
    gap: toRem(128);
  }
}

.case-study {
  @include column-flex();
  width: 100%;

  @media screen and (min-width: $md) {
    flex-direction: row-reverse;
    @include between();
    gap: toRem(24);
  }
  @media screen and (min-width: $two-xl) {
    gap: toRem(48);
  }
}

.img-cover {
  width: 100%;
  align-self: center;
  aspect-ratio: 343/210;
  border-radius: toRem(8);
  overflow: hidden;

  @media screen and (min-width: $md) {
    border-radius: toRem(12);
    max-width: toRem(554);
  }
  @media screen and (min-width: $two-xl) {
    border-radius: toRem(18);
    width: floor(calc(82100 / 1728)) * 1%;
    max-width: toRem(821);
  }
  @media screen and (min-width: $three-xl) {
    max-width: toRem(821);
  }

  img {
    width: 100%;
    height: auto;
  }
}

.content {
  width: 100%;
  @include column-flex();
  gap: toRem(16);

  @media screen and (min-width: $md) {
    width: auto;
    gap: toRem(24);
    flex-shrink: 0;
  }
  @media screen and (min-width: $three-xl) {
    gap: toRem(32);
  }
}

.case-study__title {
  padding-top: toRem(16);
  font-size: toRem(20);
  font-weight: 600;
  line-height: toRem(32);
  color: var(--white);

  @media screen and (min-width: $xl) {
    font-size: toRem(24);
    line-height: toRem(29);
  }
  @media screen and (min-width: $three-xl) {
    font-size: toRem(48);
    line-height: toRem(58);
  }
}

.case-study__content {
  font-size: toRem(14);
  font-weight: 400;
  line-height: toRem(21);
  color: var(--black-90);

  @media screen and (min-width: $md) {
    width: floor(calc(45700 / 1194)) * 1vw;
    max-width: toRem(461);
  }
  @media screen and (min-width: $xl) {
    font-size: toRem(16);
    line-height: toRem(24);
  }
  @media screen and (min-width: $three-xl) {
    font-size: toRem(24);
    line-height: toRem(36);
    width: floor(calc(65200 / 1728)) * 1vw;
    max-width: toRem(660);
  }
}

.area-list {
  list-style: none;
  @include display-flex();
  flex-wrap: wrap;
  gap: toRem(18);

  @media screen and (min-width: $three-xl) {
    gap: toRem(24);
  }
}

.area {
  font-size: toRem(8);
  font-weight: 400;
  color: var(--black-70);
  padding: toRem(12) toRem(24);
  border-radius: toRem(24);
  background-color: var(--black-30);
  flex-shrink: 0;

  @media screen and (min-width: $xl) {
    font-size: toRem(14);
  }

  @media screen and (min-width: $three-xl) {
    font-size: toRem(18);
  }
}

.action {
  @include column-flex();
  gap: toRem(24);
  align-self: flex-start;
  color: var(--black-100);

  @media screen and (min-width: $xl) {
    gap: toRem(40);
  }
  @media screen and (min-width: $two-xl) {
    gap: toRem(42);
  }

  span {
    font-size: toRem(14);
    font-weight: 600;
    line-height: toRem(21);

    @media screen and (min-width: $xl) {
      font-size: toRem(20);
      line-height: toRem(24);
    }
  }

  .border-bottom {
    position: relative;
    width: 100%;
    height: toRem(5);
    background-color: var(--black-100);

    &::before {
      width: 100%;
      height: toRem(0);
      background-color: var(--black-100);
      position: absolute;
      bottom: toRem(8);
      content: "";
      @include transition(height, 200ms);
    }
  }
  @media (hover: hover) {
    &:hover,
    &:active {
      .border-bottom::before {
        height: toRem(16);
      }
    }
  }
}
