<main id="experience">
  <section class="overview">
    <h1 class="title">My Recent <span class="special">Chef-ings 👨‍🍳</span></h1>
    <h3 class="sub-title">
      Want to see what i’m currently working on? or what i’ve previously worked
      on?? i gotchu.
    </h3>
  </section>

  <section class="cheffings">
    <ul class="cheffings-list">
      <li class="cheffings-item" *ngFor="let experience of experiences">
        <app-cheffing [experience]="experience"></app-cheffing>
      </li>
    </ul>
  </section>
</main>
