<main id="more">
  <section class="overview">
    <div class="content">
      <h3 class="title">Discover how i think</h3>
      <h1 class="sub-title">I’ve Done Works</h1>

      <p class="desc">
        Discover my design process in-depth. case studies on productivity,
        business, and design.
      </p>
    </div>

    <a
      appClick
      href="mailto:Ekpenduchimezie1@gmail.com"
      class="cta"
      aria-label="E-mail Redirect Button"
    >
      Email Me
    </a>
  </section>

  <section class="step">
    <h2 class="title">How I Work</h2>

    <ul class="process-list">
      <li class="process">
        <h3 class="process-title">1. Strategy</h3>

        <div class="process-content">
          <span>Ask first</span>. I always ensure that we're asking the right
          questions and taking on the right challenges before diving into
          design. This phase also involves consulting, exploring potential
          solutions, and conducting market research and competitive analyses.
        </div>
      </li>

      <li class="process">
        <h3 class="process-title">2. Design</h3>

        <div class="process-content">
          <span>Problem solving</span>. You'll have a pixel-perfect design for
          your app or website at the conclusion of this phase. I develop
          prototypes that simulate the final results before development as I
          move from wireframes to the final design.
        </div>
      </li>

      <li class="process">
        <h3 class="process-title">3. Quality assurance</h3>

        <div class="process-content">
          <span>Transparent process</span>. Full breakdown of my design
          procedure through regular meetings. Following the initial design
          iterations, I'm happy to conduct user testing with your customers to
          ensure the best solutions are being provided for their needs.
        </div>
      </li>
    </ul>

    <a
      appClick
      class="start-project"
      href="https://j3en9uepgkn.typeform.com/to/Oy68WS29"
      target="_blank"
      class="cta start-project__btn"
      >Start a Project</a
    >

    <app-response></app-response>
  </section>

  <footer>
    <div class="contact">
      You can also send me an
      <a href="mailto:Ekpenduchimezie1@gmail.com" title="mail ChimeXD">email</a>
      or a
      <a
        href="https://twitter.com/intent/tweet?text={{ intent }}"
        target="_blank"
        title="tweet @ChimeXD's Handle"
        >tweet</a
      >
    </div>

    <div class="social-media__list">
      <a
        href="https://www.behance.net/chimexd"
        target="_blank"
        title="ChimeXD's Behance Profile Link"
        class="img-cover"
      >
        <img
          width="40"
          height="40"
          src="./../../assets/icons/behance.png"
          alt
          loading="lazy"
        />
      </a>
      <a
        href="https://twitter.com/__sinofgluttony"
        target="_blank"
        title="ChimeXD's Twitter Profile Link"
        class="img-cover"
      >
        <img
          width="40"
          height="40"
          src="./../../assets/icons/twitter.png"
          alt
          loading="lazy"
        />
      </a>
      <a
        href="https://chimexd.medium.com/"
        target="_blank"
        title="ChimeXD's Medium Profile Link"
        class="img-cover"
      >
        <img
          width="40"
          height="40"
          src="./../../assets/icons/medium.png"
          alt
          loading="lazy"
        />
      </a>
      <a
        href="https://www.linkedin.com/in/ekpendu-chimezie-920035230/"
        target="_blank"
        title="ChimeXD's LinkedIn Profile Link"
        class="img-cover"
      >
        <img
          width="40"
          height="40"
          src="./../../assets/icons/linkedIn.png"
          alt
          loading="lazy"
        />
      </a>
    </div>

    <div class="copy-right">
      © 2022 All rights reserved. – Designed by Ekpendu Chimezie
    </div>
  </footer>
</main>
