<main id="more">
  <section class="overview">
    <h3 class="title">Discover how i think</h3>
    <h1 class="sub-title">I’ve Done Works</h1>

    <p class="desc">
      Discover my design process in-depth. case studies on productivity,
      business, and design.
    </p>
  </section>

  <section class="about">
    <p>
      Hi, my name is Ekpendu Chimezie; I am mostly called ChimeXD in the web3
      space I am a product designer. In my final years of college, I developed a
      passion for design. I was intrigued by how people behave, think, and feel,
      and how products could give them more life experience. I obtained a B.Sc.
      in Computer Science from Redeemer's University and finished the 6-month
      Google UX certification program (check my certificate
      <a
        title="ChimeXD's Certificate Link"
        href="https://www.coursera.org/account/accomplishments/specialization/certificate/F7LRG55WKH6L"
        target="_blank"
        >here</a
      >)
    </p>

    <p>
      I currently work for
      <a
        href="https://bulan.io/"
        title="Link to Bulan's Website"
        target="_blank"
        class="bold"
        >Bulan</a
      >
      as the Product Design Lead. I lead design strategy for the amazing team,
      and together, we want to dominate the web 3.
    </p>

    <p>
      Outside of design, I'm a major football fan and a massive lover of art.
      I've worked with a few NFT project such as SkelliesDAO, Wandering nahavi
      and currently Bulan.
    </p>

    <p>
      I'm always down to collaborate when I have the time. Reach out and let's
      chat!
    </p>

    <a
      appClick
      class="start-project"
      href="https://j3en9uepgkn.typeform.com/to/Oy68WS29"
      target="_blank"
      class="cta start-project__btn"
      >Start a Project</a
    >

    <app-response></app-response>
  </section>

  <app-footer></app-footer>
</main>
