@import "../../shared/shared";

:host {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 0.5;
  overflow: hidden;
}

.svg {
  width: 100%;
  height: auto;
}

.background-color {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(52.19% 100% at 50% 0%, #0000 0%, #000 95.31%);
}
