@import "./../shared/shared";

#case-study {
  width: 100%;
  padding: toRem(69) 0 0;

  @media screen and (min-width: $lg) {
    padding: toRem(104) 0 0;
  }
  @media screen and (min-width: $two-xl) {
    padding: toRem(104) 0 0;
  }
}

.overview {
  width: 100%;
  @include column-centered();
  gap: toRem(16);
  padding: toRem(32) toRem(16) toRem(56);

  @media screen and (min-width: $lg) {
    padding: toRem(64) toRem(80) toRem(150);
  }
  @media screen and (min-width: $two-xl) {
    padding: toRem(70) toRem(100) toRem(150);
  }

  .title {
    font-size: toRem(14);
    font-weight: 400;
    line-height: toRem(21);
    color: var(--black-70);
    text-align: center;

    @media screen and (min-width: $lg) {
      font-size: toRem(20);
      line-height: toRem(30);
    }
    @media screen and (min-width: $two-xl) {
      font-size: toRem(24);
      line-height: toRem(36);
    }
  }

  .sub-title {
    font-size: toRem(32);
    font-weight: 600;
    line-height: toRem(42);
    color: var(--black-60);
    text-align: center;

    .special {
      color: var(--black-100);
    }

    @media screen and (min-width: $lg) {
      font-size: toRem(56);
      line-height: toRem(72);
    }
    @media screen and (min-width: $two-xl) {
      font-size: toRem(72);
      line-height: toRem(104);
    }
  }

  .desc {
    font-size: toRem(14);
    font-weight: 400;
    line-height: toRem(21);
    text-align: center;
    max-width: toRem(342);
    color: var(--black-80);

    @media screen and (min-width: $lg) {
      font-size: toRem(20);
      line-height: toRem(30);
      max-width: toRem(697);
    }
    @media screen and (min-width: $two-xl) {
      font-size: toRem(32);
      line-height: toRem(48);
      max-width: toRem(876);
    }
  }
}

.case-study__sect {
  width: 100%;
  padding: 0 toRem(16);

  @media screen and (min-width: $lg) {
    padding: 0 toRem(80);
  }
  @media screen and (min-width: $two-xl) {
    padding: 0 toRem(100);
  }
}
