<main id="case-study">
  <section class="overview">
    <h3
      class="title"
      aray-delay="300ms"
      aray-animate="fadeIn"
      aray-duration="300ms"
      aray-offsetY="-50%"
    >
      Discover how i think
    </h3>
    <h1
      class="sub-title"
      aray-animate="fadeIn"
      aray-delay="300ms"
      aray-duration="300ms"
      aray-offsetY="20%"
    >
      I’ve Done Works
    </h1>

    <p
      class="desc"
      aray-animate="fadeIn"
      aray-delay="400ms"
      aray-duration="500ms"
      aray-offsetX="10%"
      aray-offsetY="10%"
    >
      Discover my design process in-depth. case studies on productivity,
      business, and design.
    </p>
  </section>

  <section class="case-study__sect">
    <app-case-study-list [caseStudyList]="caseStudyList"></app-case-study-list>
  </section>

  <app-footer></app-footer>
</main>
