@import "./../shared/shared";

#home {
  padding: toRem(69) 0 0;

  @media screen and (min-width: $lg) {
    padding: toRem(104) 0 0;
  }
  @media screen and (min-width: $two-xl) {
    padding: toRem(104) 0 0;
  }
}

.overview {
  @include column-flex();

  @media screen and (min-width: $md) {
    @include between();
    flex-direction: row;
    margin-bottom: toRem(128);
  }
  @media screen and (min-width: $lg) {
    padding: 0 toRem(80);
  }
  @media screen and (min-width: $two-xl) {
    padding: 0 toRem(100);
    margin-bottom: toRem(152);
  }
}

.intro {
  width: 100%;
  margin-top: toRem(32);
  padding: 0 toRem(16);

  @media screen and (min-width: $lg) {
    margin-top: toRem(130);
    padding: 0;
  }
  @media screen and (min-width: $two-xl) {
    margin-top: toRem(144);
  }
}

.job-title {
  font-size: toRem(64);
  font-weight: bold;
  line-height: 1.02;
  margin-bottom: toRem(18);
  max-width: toRem(288);

  @media screen and (min-width: $md) {
    font-size: toRem(96);
    line-height: 0.91;
    margin-bottom: toRem(32);
    max-width: toRem(343);
  }
  @media screen and (min-width: $two-xl) {
    font-size: toRem(140);
    line-height: 0.99;
    margin-bottom: toRem(48);
    max-width: toRem(597);
  }
}

.job-desc {
  font-size: toRem(16);
  font-weight: 500;
  line-height: 1.56;
  width: 100%;
  max-width: toRem(288);
  margin-bottom: toRem(24);

  @media screen and (min-width: $md) {
    font-size: toRem(24);
    line-height: 1.58;
    max-width: toRem(450);
  }
  @media screen and (min-width: $two-xl) {
    font-size: toRem(32);
    font-weight: 500;
    line-height: 1.19;
    margin-bottom: toRem(32);
  }
}

.job-status {
  @include centered();
  justify-content: flex-start;
  gap: toRem(16);

  .status-circle {
    width: toRem(10);
    height: toRem(10);
    background-color: var(--active-status-color);
    border-radius: 50%;
  }

  .status {
    font-size: toRem(12);
    line-height: 1.83;
    color: var(--black-90);

    @media screen and (min-width: $md) {
      font-size: toRem(16);
      line-height: 1.5;
    }
  }
}

.cta {
  display: inline-block;
  padding: toRem(12) toRem(24);
  border-radius: toRem(8);
  background-color: var(--main-blue);
  font-size: toRem(16);
  font-weight: bold;
  line-height: 1.5;
  color: var(--black-100);
  margin: toRem(32) 0;
  @include fade-hover(opacity, 300ms, 0.7);

  @media screen and (min-width: $md) {
    margin: toRem(32) 0 toRem(48);
  }
  @media screen and (min-width: $two-xl) {
    padding: toRem(16) toRem(32);
    margin: toRem(48) 0 toRem(64);
  }
}

.intro-bg-img {
  width: 100%;
  margin: toRem(24) 0 toRem(56);
  background-color: var(--main-black);

  @media screen and (min-width: $md) {
    margin: toRem(64) 0 0;
    max-width: toRem(556);
  }
  @media screen and (min-width: $two-xl) {
    margin: toRem(70) 0 0;
    max-width: toRem(768);
  }

  img {
    background-color: var(--main-black);
    width: 100%;
    height: auto;
  }
}

.work {
  width: 100%;
  padding: 0 toRem(16);

  @media screen and (min-width: $lg) {
    padding: 0 toRem(80);
  }
  @media screen and (min-width: $two-xl) {
    padding: 0 toRem(100);
  }

  .work-overview {
    @include column-flex();
    gap: toRem(24);
    width: 100%;
    margin-bottom: toRem(48);

    @media screen and (min-width: $md) {
      @include between();
      flex-direction: row;
    }
    @media screen and (min-width: $xl) {
      margin-bottom: toRem(128);
    }
  }

  .work-content {
    @include column-flex();
    gap: toRem(16);
    width: 100%;
    max-width: toRem(539);

    @media screen and (min-width: $md) {
      width: floor(53900/1194) * 1%;
    }
    @media screen and (min-width: $xl) {
      gap: toRem(24);
      width: 100%;
      max-width: toRem(699);
    }
  }

  .work-title {
    font-size: toRem(14);
    font-weight: 500;
    line-height: 1.71;
    color: var(--black-90);
    margin-bottom: toRem(16);

    @media screen and (min-width: $lg) {
      font-size: toRem(20);
      line-height: 1.2;
    }
    @media screen and (min-width: $xl) {
      font-size: toRem(24);
      line-height: 1;
    }
  }

  .process-title {
    font-size: toRem(40);
    font-weight: bold;
    line-height: 1;
    color: var(--black-100);

    @media screen and (min-width: $xl) {
      font-size: toRem(68);
      line-height: 1.12;
    }
    @media screen and (min-width: $two-xl) {
      font-size: toRem(84);
      line-height: 0.9;
    }
  }

  .process__sub-title {
    font-size: toRem(16);
    font-weight: 500;
    line-height: 1.5;
    color: var(--black-100);

    @media screen and (min-width: $lg) {
      font-size: toRem(24);
      line-height: 1.67;
    }
    @media screen and (min-width: $two-xl) {
      font-size: toRem(32);
      line-height: 1.25;
    }
  }

  .btn-container {
    width: 100%;
    @include display-flex();
    gap: toRem(32);
    flex-grow: 0;

    @media screen and (min-width: $md) {
      width: auto;
    }
    @media screen and (min-width: $lg) {
      gap: toRem(42);
    }
    @media screen and (min-width: $two-xl) {
      gap: toRem(85);
    }

    .start-project {
      @include centered();
    }
  }

  .process-list {
    @include column-flex();
    list-style: none;
    width: 100%;
    gap: toRem(51);

    @media screen and (min-width: $sm) {
      flex-direction: row;
      @include between();
      gap: toRem(32);
    }
    @media screen and (min-width: $lg) {
      gap: toRem(52);
    }

    .process {
      width: 100%;

      @media screen and (min-width: $sm) {
        min-width: toRem(150);
      }
      @media screen and (min-width: $xl) {
        max-width: toRem(419);
      }
    }

    .num {
      font-size: toRem(56);
      font-weight: bold;
      line-height: 1;
      color: var(--black-80);

      @media screen and (min-width: $xl) {
        font-size: toRem(104);
        line-height: 0.73;
      }
      @media screen and (min-width: $two-xl) {
        font-size: toRem(128);
        line-height: 0.59;
      }
    }

    .title {
      font-size: toRem(24);
      font-weight: bold;
      line-height: 1.33;
      color: var(--black-100);
      margin: toRem(16) 0;

      @media screen and (min-width: $xl) {
        font-size: toRem(40);
        line-height: 1.9;
        margin: toRem(24) 0;
      }
      @media screen and (min-width: $two-xl) {
        font-size: toRem(56);
        line-height: 1.36;
      }
    }

    .process-content {
      font-size: toRem(16);
      font-weight: 500;
      line-height: 1.5;
      color: var(--black-100);

      @media screen and (min-width: $xl) {
        font-size: toRem(20);
        line-height: 2;
      }
      @media screen and (min-width: $two-xl) {
        font-size: toRem(28);
        line-height: 1.43;
      }
    }
  }
}

.underline {
  width: 100%;
  height: toRem(1);
  background-color: var(--black-30);
  margin: toRem(62) 0 toRem(32);

  @media screen and (min-width: $xl) {
    margin: toRem(62) 0 toRem(64);
  }
}

.featured {
  width: 100%;
  padding: 0 toRem(16);

  @media screen and (min-width: $lg) {
    padding: 0 toRem(80);
  }
  @media screen and (min-width: $two-xl) {
    padding: 0 toRem(100);
  }

  .title {
    font-size: toRem(14);
    font-weight: 500;
    line-height: 1.71;
    margin-bottom: toRem(39);

    @media screen and (min-width: $md) {
      font-size: toRem(20);
      line-height: 1.2;
      margin-bottom: toRem(102);
    }
    @media screen and (min-width: $xl) {
      font-size: toRem(24);
      line-height: 1;
      margin-bottom: toRem(128);
    }
  }
}

.blue,
.white,
.view-case__study-btn {
  @include centered();
  width: 100%;
  font-size: toRem(16);
  font-weight: bold;
  line-height: 1.5;
  color: var(--black-100);
  padding: toRem(12) toRem(24);
  border-radius: toRem(8);
  align-self: center;

  @media screen and (min-width: $md) {
    padding: toRem(16) toRem(32);
    width: auto;
  }
  @media screen and (min-width: $two-xl) {
    padding: toRem(16) toRem(48);
  }
  @include fade-hover(opacity, 300ms, 0.7);
}

.blue {
  background-color: var(--main-blue);

  // @media (hover: hover) {
  //   &:hover {
  //     background-color: var(--blue-30);
  //   }
  // }
}

.white {
  background-color: var(--black-100);
  color: var(--main-blue);

  // @media (hover: hover) {
  //   &:hover {
  //     background-color: var(--black-90);
  //     color: var(--blue-30);
  //   }
  // }
}

.view-case__study-btn {
  width: auto;
  @include centered();
  margin: toRem(69) auto 0;

  @media screen and (min-width: $md) {
    margin: toRem(128) auto 0;
    gap: toRem(8);
  }
  @media screen and (min-width: $two-xl) {
    gap: toRem(16);
  }
}
