@import "./../shared/shared";

#home {
  padding: toRem(96) 0 0;

  @media screen and (min-width: $lg) {
    padding: toRem(104) 0 0;
  }
  @media screen and (min-width: $two-xl) {
    padding: toRem(104) 0 0;
  }
}

.overview {
  @include column-centered();

  @media screen and (min-width: $md) {
    padding: 0 toRem(24);
  }
  @media screen and (min-width: $lg) {
    padding: 0 toRem(80);
  }
  @media screen and (min-width: $two-xl) {
    padding: 0 toRem(100);
  }
}

.welcome-msg {
  font-family: var(--main-font);
  font-size: toRem(8);
  font-style: normal;
  font-weight: 400;
  line-height: toRem(12); /* 150% */
  color: var(--white);
  text-align: center;
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(toRem(16));
  border-radius: toRem(56);
  border: toRem(1) solid rgba(255, 255, 255, 0.08);
  padding: toRem(8);
  margin: 0 auto toRem(24);

  @media screen and (min-width: $lg) {
    width: toRem(212);
    font-size: toRem(12);
    font-style: normal;
    font-weight: 400;
    line-height: toRem(24);
    margin: 0 auto toRem(40);
  }
  @media screen and (min-width: $two-xl) {
    padding: toRem(8) toRem(12);
    margin-bottom: toRem(48);
  }
}

.intro {
  @include column-centered-start();
  width: 100%;
  padding: 0 toRem(16);

  @media screen and (min-width: $lg) {
    padding: 0;
  }
  @media screen and (min-width: $two-xl) {
  }
}

.job-title {
  font-size: toRem(32);
  font-weight: 600;
  line-height: toRem(42);
  color: var(--black-100);
  text-align: center;
  max-width: toRem(450);
  margin: 0 auto toRem(18);

  .special {
    color: var(--black-60);
  }

  @media screen and (min-width: $md) {
    font-size: toRem(56);
    line-height: toRem(72);
    margin: 0 auto toRem(32);
    max-width: toRem(1024);
  }
  @media screen and (min-width: $two-xl) {
    font-size: toRem(72);
    line-height: toRem(104);
    margin: 0 auto toRem(48);
    max-width: toRem(1272);
  }
}

.job-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 100%;
  text-align: center;
  max-width: toRem(550);

  @media screen and (min-width: $lg) {
    font-size: 20px;
    line-height: 30px;
    max-width: toRem(912);
  }
  @media screen and (min-width: $two-xl) {
    font-size: toRem(32);
    font-weight: 500;
    line-height: 1.19;
    max-width: none;
  }
}

.cta {
  display: inline-block;
  padding: toRem(12) toRem(24);
  border-radius: toRem(8);
  background-color: var(--main-blue);
  font-size: toRem(16);
  font-weight: bold;
  line-height: 1.5;
  color: var(--black-100);
  margin: toRem(32) 0;
  @include fade-hover(opacity, 300ms, 0.7);

  @media screen and (min-width: $md) {
    margin: toRem(48) 0 toRem(48);
  }
  @media screen and (min-width: $two-xl) {
    padding: toRem(16) toRem(32);
    margin: toRem(64) 0;
  }
}

.work {
  width: 100%;
  padding: toRem(64) toRem(16) 0;

  @media screen and (min-width: $lg) {
    padding: toRem(88) toRem(80) 0;
  }
  @media screen and (min-width: $two-xl) {
    padding: toRem(128) toRem(100) 0;
  }

  .work-overview {
    @include column-flex();
    gap: toRem(24);
    width: 100%;

    @media screen and (min-width: $md) {
      @include between();
      flex-direction: row;
    }
    @media screen and (min-width: $xl) {
    }
  }

  .work-title {
    font-size: toRem(24);
    font-weight: 600;
    line-height: toRem(29);
    margin-bottom: toRem(48);
    text-align: center;
    color: var(--black-60);

    .special {
      color: var(--black-100);
    }

    @media screen and (min-width: $md) {
      font-size: toRem(32);
      line-height: toRem(42);
      margin-bottom: toRem(64);
    }
    @media screen and (min-width: $xl) {
      font-size: toRem(48);
      line-height: toRem(58);
      margin-bottom: toRem(80);
    }
  }

  .work-list {
    list-style: none;
    width: 100%;
    @include column-centered();
    gap: toRem(56);

    @media screen and (min-width: $md) {
      flex-direction: row;
      justify-content: space-between;
      gap: toRem(32);
    }
    @media screen and (min-width: $two-xl) {
    }
  }

  .work-item {
    max-width: toRem(380);

    @media screen and (min-width: $two-xl) {
      max-width: toRem(480);
    }
  }
}

.vertical-line {
  display: none;
  width: toRem(1);
  height: 100%;
  background-color: var(--black-30);

  @media screen and (min-width: $two-xl) {
    display: block;
  }
}

.underline {
  width: 100%;
  height: toRem(1);
  background-color: var(--black-30);
  margin: toRem(62) 0 toRem(32);

  @media screen and (min-width: $xl) {
    margin: toRem(62) 0 toRem(64);
  }
}

.featured {
  width: 100%;
  padding: toRem(64) toRem(16) 0;

  @media screen and (min-width: $lg) {
    padding: toRem(88) toRem(80) 0;
  }
  @media screen and (min-width: $two-xl) {
    padding: toRem(128) toRem(100) 0;
  }

  .title {
    font-size: toRem(24);
    font-weight: 600;
    line-height: toRem(29);
    margin-bottom: toRem(48);
    text-align: center;
    color: var(--black-60);

    .special {
      color: var(--black-100);
    }

    @media screen and (min-width: $md) {
      font-size: toRem(32);
      line-height: toRem(42);
      margin-bottom: toRem(64);
    }
    @media screen and (min-width: $xl) {
      font-size: toRem(48);
      line-height: toRem(58);
      margin-bottom: toRem(80);
    }
  }
}

.blue,
.white,
.view-case__study-btn {
  @include centered();
  width: 100%;
  font-size: toRem(14);
  font-weight: 600;
  line-height: toRem(21);
  color: var(--white);
  padding: toRem(14) toRem(40);
  border-radius: toRem(8);
  align-self: center;

  @media screen and (min-width: $md) {
    font-size: toRem(16);
    width: auto;
    padding: toRem(18) toRem(40);
  }
  @media screen and (min-width: $two-xl) {
    font-size: toRem(18);
    padding: toRem(24) toRem(40);
  }
  @include fade-hover(opacity, 300ms, 0.7);
}

.blue {
  background-color: var(--main-blue);
}

.white {
  background-color: var(--black-100);
  color: var(--main-blue);
}

.view-case__study-btn {
  width: auto;
  @include centered();
  margin: toRem(69) auto 0;

  @media screen and (min-width: $md) {
    margin: toRem(128) auto 0;
    gap: toRem(8);
  }
  @media screen and (min-width: $two-xl) {
    gap: toRem(16);
  }
}
