<main id="home">
  <section class="overview">
    <div class="intro">
      <div class="job-title">Product Designer</div>
      <div class="job-desc">
        I’m a Freelance Product Designer based in Nigeria, Working globally.
      </div>
      <div class="job-status">
        <div class="status-circle"></div>
        <div class="status">Availiable for selected projects</div>
      </div>
      <a appClick href="mailto:Ekpenduchimezie1@gmail.com" class="cta">
        Hire me
      </a>

      <app-response></app-response>
    </div>

    <div class="intro-bg-img">
      <img
        loading="lazy"
        src="./../../assets/background/pc/bg-image.png"
        alt
        width="340"
        height="345.5"
        sizes="(max-width: 767px) 563px, (max-width: 1279px) 835px, 1152px"
        srcset="
          ./../../assets/background/mobile/bg-image.png  563w,
          ./../../assets/background/pc/bg-image.png      835w,
          ./../../assets/background/pc/bg-image_lg.png  1152w
        "
      />
    </div>
  </section>

  <section class="work">
    <div class="work-title">How i work</div>
    <div class="work-overview">
      <div class="work-content">
        <h2 class="process-title">Design Process</h2>
        <p class="process__sub-title">
          Reach your buisness goals with outstanding user experience. Let’s
          start working on your project.
        </p>
      </div>

      <div class="btn-container">
        <a
          appClick
          class="start-project"
          href="https://j3en9uepgkn.typeform.com/to/Oy68WS29"
          target="_blank"
          class="blue"
          >Start a Project</a
        >
        <button
          aria-label="Learn More Button"
          appClick
          class="white"
          (click)="sharedService.navigate('/more')"
        >
          Learn more
        </button>
      </div>
    </div>

    <ul class="process-list">
      <li class="process">
        <div class="num">01</div>
        <h3 class="title">Service Design</h3>
        <div class="process-content">
          Create services and procedures that satisfy your clients' needs by
          understanding their entire journeys.
        </div>
      </li>

      <li class="process">
        <div class="num">02</div>
        <h3 class="title">UI/UX Design</h3>
        <div class="process-content">
          Design digital touchpoints that are convenient to the user experience
          and the business.
        </div>
      </li>

      <li class="process">
        <div class="num">03</div>
        <h3 class="title">Design Systems</h3>
        <div class="process-content">
          With a design system, you can assure scalability and unify your
          digital experience across services.
        </div>
      </li>
    </ul>
  </section>

  <div class="underline"></div>

  <section class="featured">
    <h2 class="title">Featured Projects</h2>

    <app-case-study-list [caseStudyList]="caseStudyList"></app-case-study-list>
  </section>

  <button
    appClick
    aria-label="case study button"
    class="blue view-case__study-btn"
    (click)="sharedService.navigate('/case-study')"
  >
    <span>View all Case Studies</span>

    <span>
      <img
        loading="lazy"
        width="24"
        height="24"
        src="./../../assets/icons/right-arrow.png"
        alt
      />
    </span>
  </button>

  <app-footer></app-footer>
</main>
