<main id="home">
  <app-background-grid></app-background-grid>

  <section class="overview">
    <div class="welcome-msg">👋 Hi, I’m ChimeXD</div>

    <div class="intro">
      <div
        class="job-title"
        aray-animate="fadeIn"
        aray-offsetY="-20%"
        aray-duration="800ms"
      >
        I’m a Product Designer
        <span class="special"> and also a Web3 Degen </span>
      </div>
      <div
        class="job-desc"
        aray-animate="fadeIn"
        aray-offsetX="-10%"
        aray-delay="500ms"
      >
        Creating awesome user experiences, designing for startups, teaming up
        with all sorts of people, and when I'm not doing that, I'm degen-ing any
        coin that moves.
      </div>

      <a
        appClick
        aray-animate="fadeIn"
        aray-delay="700ms"
        aray-duration="800ms"
        aray-offsetX="20%"
        aray-offsetY="20%"
        [opacity]="0.5"
        href="mailto:Ekpenduchimezie1@gmail.com"
        class="cta"
      >
        Book a Call
      </a>

      <app-response
        aray-animate="fadeIn"
        aray-delay="800ms"
        aray-duration="500ms"
        aray-offsetX="-5%"
      ></app-response>
    </div>
  </section>

  <section class="work">
    <div
      class="work-title"
      aray-animate="fadeIn"
      aray-delay="1s"
      aray-duration="300ms"
      aray-offsetY="-10%"
    >
      How <span class="special">I work</span>
    </div>

    <div class="work-overview">
      <ul class="work-list">
        <li
          class="work-item"
          aray-animate="fadeIn"
          aray-delay="600ms"
          aray-duration="500ms"
          aray-offsetY="20%"
        >
          <app-work-item [service]="services[0]"></app-work-item>
        </li>
        <div class="vertical-line"></div>
        <li
          class="work-item"
          aray-animate="fadeIn"
          aray-delay="900ms"
          aray-duration="550ms"
          aray-offsetY="30%"
        >
          <app-work-item [service]="services[1]"></app-work-item>
        </li>
        <div class="vertical-line"></div>
        <li
          class="work-item"
          aray-animate="fadeIn"
          aray-delay="1.2s"
          aray-duration="600ms"
          aray-offsetY="40%"
        >
          <app-work-item [service]="services[2]"></app-work-item>
        </li>
      </ul>
    </div>
  </section>

  <section class="featured">
    <h2 class="title">Featured <span class="special">Projects</span></h2>

    <app-case-study-list [caseStudyList]="caseStudyList"></app-case-study-list>
  </section>

  <button
    appClick
    aria-label="case study button"
    class="blue view-case__study-btn"
    (click)="sharedService.navigate('/case-study')"
  >
    <span>View all Projects</span>

    <span>
      <img
        loading="lazy"
        width="24"
        height="24"
        src="./../../assets/icons/right-arrow.png"
        alt
        (error)="$any($event.currentTarget).display = 'none'"
      />
    </span>
  </button>

  <app-footer></app-footer>
</main>
