<div class="img-container">
  <img
    loading="lazy"
    width="256"
    height="256"
    src="../../../assets/cheffings/{{ experience.image }}"
    alt="Chedda Finance"
  />

  <a class="link" [href]="experience.link" target="_blank">
    <span>View Product</span>
    <span class="icon-container">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="17"
        height="16"
        viewBox="0 0 17 16"
        fill="none"
      >
        <path d="M6.5 4L10.5 8L6.5 12" stroke="white" stroke-width="2" />
      </svg>
    </span>
  </a>
</div>

<div class="content">
  <div class="title-status">
    <h2 class="title">{{ experience.title }}</h2>

    <div [ngClass]="{ status: true, live: experience.live }">
      {{ experience.live ? "Live" : "In-Dev" }}
    </div>
  </div>

  <div class="position-duration">
    <h3 class="position">{{ experience.position }}</h3>

    <h4 class="duration" *ngIf="experience.date">
      {{ experience.date.from }}
      - {{ experience.date.to ? experience.date.to : "Current" }}
    </h4>
    <h4 class="duration" *ngIf="!experience.date">Contract</h4>
  </div>

  <p class="desc">
    {{ experience.desc }}
  </p>
</div>
